<div class="container-fluid">
    <div class="page-header">
        <h2>Contact details</h2>
    </div>
    <div class="row well">
        <div class="col-md-3 col-sm-6">
            <address>
                <strong>Luc Sorel</strong><br>
                <abbr title="Personal email"><i class="glyphicon glyphicon-pencil"></i></abbr> <a ng-href="mailto:luc.sorel@gmail.com">luc.sorel@gmail.com</a>
            </address>
        </div>
        <div class="col-md-3 col-sm-6">
            <address>
                <strong>Postal address</strong><br>
                11 rue Pablo Neruda, 35700 Rennes<br><br>
                <abbr title="Personal phone"><i class="glyphicon glyphicon-phone"></i></abbr> <a ng-href="tel:06 16 84 87 54">06 16 84 87 54</a>
            </address>
        </div>
        <div class="col-md-6 col-sm-12">
            <div>My <b>resume</b> and <b>links to professional networks</b> are on my <a href="http://www.lucsorel.com/index.php?page=resume" target="_blank">personal website</a> (yeah, in PHP, I know...)</div>
        </div>
    </div>
</div>
