<div class="container-fluid">
    <div class="page-header">
        <h2>Contact details</h2>
    </div>
    <div class="row well">
        <div class="col-sm-4">
            <address>
                <strong>Luc Sorel</strong><br>
                <abbr title="Personal email"><i class="glyphicon glyphicon-pencil"></i></abbr> <a href="mailto:luc.sorel@gmail.com">luc.sorel@gmail.com</a>
            </address>
        </div>
        <div class="col-sm-4">
            <address>
                <strong>Postal address</strong><br>
                11 rue Pablo Neruda, 35700 Rennes<br><br>
                <abbr title="Personal phone"><i class="glyphicon glyphicon-phone"></i></abbr> <a href="tel:06 16 84 87 54">06 16 84 87 54</a>
            </address>
        </div>
        <div class="col-sm-4">
            <div>My <b>resume</b> and <b>links to professional networks</b> are on my <a href="http://www.lucsorel.com/index.php?page=resume" target="_blank">personal website</a> (yeah, in PHP, I know...)</div>
        </div>
    </div>
    <div class="row well">
        <div class="col-sm-6">
            <p>Happily developed with, on the server-side:</p>
            <ul>
                <li><a href="https://nodejs.org/" target="_blank">NodeJS</a> &amp; <a href="http://expressjs.com/" target="_blank">ExpressJS</a></li>
                <li><a href="http://socket.io/" target="_blank">Socket.IO</a> &amp; <a href="https://github.com/Reactive-Extensions/RxJS" target="_blank">RxJs</a> (Reactive extensions for Javascript)</li>
                <li>Unit tests with <a href="https://mochajs.org/" target="_blank">Mocha</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <p>And on the front-side:</p>
            <ul>
                <li><a href="http://getbootstrap.com/" target="_blank">BootstrapCSS</a> &amp; <a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
                <li><a href="http://mathjs.org/" target="_blank">Math.js</a> &amp; <a href="http://maurizzzio.github.io/function-plot/" target="_blank">Function plot</a></li>
            </ul>
        </div>
        <div class="col-sm-12">The project source is hosted at <a href="https://github.com/lucsorel/watts-app" target="_blank">github.com/lucsorel/watts-app</a> along other projects, have a look at them!</div>
    </div>
</div>
