<div class="container">
    <h2>Monitoring and prediction</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <p>The <b>{{::factoryCtrl.factory.name}}</b> factory is equipped with several probes which monitor different parameters:</p>
                <ul>
                    <li>one which monitors the <b>factory global temperature</b></li>
                    <li>one per device, simply detecting whether <b>the device is on or off</b></li>
                </ul>
                <p>
                    <b><i>Watts</i> app</b> aggregates the probes data by timelapses to propose a dashboard of the temperature evolution and the states of the devices.
                </p>
            </div>
        </div>
    </div>

    <h2>Factory modeling</h2>
    <div class="row">
        <div class="col-md-5">
            <div class="well">
                <div>Factory name: <b>{{::factoryCtrl.factory.name}}</b></div>
                <br>
                <div class="">Heat sources:</div>
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Device</th>
                        <th>heat</th>
                        <th>factor</th>
                        <th>inertia</th>
                        <th>activities</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="heatSource in factoryCtrl.factory.heatSources">
                            <td>{{::heatSource.heatSource.name}}</td>
                            <td>{{::heatSource.heatSource.temperature}}°C</td>
                            <td>{{::heatSource.weight | percentage}}</td>
                            <td>{{::heatSource.heatSource.inertiaDuration}} hour</td>
                            <td>
                                <span ng-repeat="activity in heatSource.heatSource.activities">
                                {{::activity | activity}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <div class="well">
                <div>Evolution of the factory temperature (°C) during the day (hour)</div>
                <div id="factoryTemperaturePlot"></div>
                <div>Plotted temperatues: <span class="text-info">"actual"</span> (from the model), <span class="text-danger">red</span> (hourly averaged from the probes).</li>
                </div>
            </div>
        </div>
    </div>

    <h2>Monitoring</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <button type="button" class="btn pull-right" ng-click="factoryCtrl.switchSampling()"
                    ng-class="factoryCtrl.isSampling ? 'btn-danger' : 'btn-primary'">
                    {{factoryCtrl.isSampling ? 'Stop' : 'Start'}} sampling
                </button>
                <p>Ok, let's start monitoring the factory!</p>
                <p>Standard deviations of temperature are <span class="text-warning">orange</span> when their precision is below 1.5°C.</p>

                <table class="table-condensed table-hover table-bordered">
                    <tr ng-repeat='key in factoryCtrl.lapseSampleKeys'>
                        <th class="sampleValue">{{:: key | sampleKey}}</th>
                        <td class="sampleValue" ng-repeat="lapseSample in factoryCtrl.lapseSamples | orderBy: 'id' track by lapseSample.id"
                            ng-bind-html="lapseSample[key] | valueKey:key">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
