<div class="container-fluid">
    <div class="page-header">
        <h2>Contact details</h2>
    </div>
    <div class="row well">
        <div class="col-sm-6">
            <address>
                <strong>Luc Sorel</strong><br>
                <abbr title="Personal email"><i class="glyphicon glyphicon-pencil"></i></abbr> <a href="mailto:#">luc.sorel@gmail.com</a>
            </address>
        </div>
        <div class="col-sm-6">
            <address>
                <strong>Postal address</strong><br>
                11 rue Pablo Neruda, 35700 Rennes<br><br>
                <abbr title="Personal phone"><i class="glyphicon glyphicon-phone"></i></abbr> 06 16 84 87 54
            </address>
        </div>
    </div>
    <div class="row well">
        <div class="col-sm-6">
            <p>Happily developed with, on the server-side:</p>
            <ul>
                <li>NodeJS</li>
                <li>ExpressJS</li>
                <li>Socket.IO</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <p>And on the front-side:</p>
            <ul>
                <li>AngularJS</li>
                <li>Math.js &amp; Function plot</li>
                <li>BootstrapCSS &amp; Less</li>
            </ul>
        </div>
    </div>
</div>
