<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#wattsapp-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><i>Watts</i> App</a>
        </div>

        <div class="collapse navbar-collapse" id="wattsapp-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="navCtrl.page.name == 'factory' ? 'active' : ''"><a href="#/factory">Energy diagnosis</a></li>
                <li ng-class="navCtrl.page.name == 'contact' ? 'active' : ''"><a href="#/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view="factory"></div>

<div ui-view="contact"></div>
